<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context     
        http://www.springframework.org/schema/context/spring-context.xsd 
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop.xsd ">


    <context:component-scan base-package="com.cc.lmsfc.task"/>

    <import resource="classpath*:spring/spring-common.xml"/>

    <import resource="classpath*:spring/spring-task-integration.xml"/>

    <bean id="freemarkerConfig" class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
        <property name="templateLoaderPath" value="classpath:template" />
    </bean>

    <!--<bean id="propertyConfigurerForBase"-->
          <!--class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
        <!--<property name="order" value="1" />-->
        <!--<property name="ignoreUnresolvablePlaceholders" value="true" />-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath*:task_mac.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

    <!--<bean id="placeholderConfigMM" class="com.cc.lmsfc.common.util.SpringPropertiesUtil">-->
        <!--<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>-->
        <!--<property name="locations">-->
            <!--<list>-->
                <!--<value>classpath*:task_mac.properties</value>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->

</beans>